<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Admin System{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <!-- fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<style>
  .system-message{
      width: max-content;
      position: absolute;
      bottom: 0;
      right: 20px;
      width: auto;
  }
</style>
<body>
  {% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">User System</a>
      <div>
        {% if user.is_authenticated %}
          <span class="text-white me-3">Hello, {{ user.username }}</span>
          <a href="{% url 'logout' %}" class="btn btn-outline-light btn-sm">Logout</a>
        {% else %}
          <a href="{% url 'login' %}" class="btn btn-outline-light btn-sm me-2">Login</a>
          <a href="{% url 'register' %}" class="btn btn-outline-light btn-sm">Register</a>
        {% endif %}
      </div>
    </div>
  </nav>
  {% endif%}
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <div class="system-message">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-success">
        {{ message }}
      </div>
    {% endfor %}
  </div>
</body>
<script>
  $(document).ready(function() {
    setTimeout(function() {
      $('.system-message .alert').fadeOut('slow', function() {
        $(this).remove();
      });
    }, 5000); 
  });
</script>
</html>
