<style>
    h1 {
        color: #fff;
    }

    .lead {
        color: #aaa;
    }


    .card {
        border: none;
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        overflow: hidden;
        border-radius: 20px;
        min-height: 350px;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

        @media (max-width: 768px) {
            min-height: 350px;
        }

        @media (max-width: 420px) {
            min-height: 300px;
        }

        &.card-has-bg {
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
            background-size: 120%;
            background-repeat: no-repeat;
            background-position: center center;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: inherit;
                -webkit-filter: grayscale(1);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                -o-filter: grayscale(100%);
                filter: grayscale(100%);
            }

            &:hover {
                transform: scale(0.98);
                box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
                background-size: 130%;
                transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

                .card-img-overlay {
                    /* transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1); */
                    /* baround: rgb(255, 186, 33);
                    background: linear-gradient(0deg,
                            rgba(255, 186, 33, 0.5) 0%,
                            rgba(255, 186, 33, 1) 100%);ckg */
                    background-image: linear-gradient(35deg, #ffffff 45%, #000 90%),
                }
            }
        }

        .card-footer {
            background: none;
            border-top: none;

            .media {
                img {
                    border: solid 3px rgba(255, 255, 255, 0.3);
                }
            }
        }

        .card-title {
            font-weight: 800;
        }
        .card-title a{
            background-color: #ffba21;
            padding: 5px;
        }
        .card-meta {
            /* color: rgba(0, 0, 0, 0.3); */
            color: #FFF;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 2px;
            font-weight: bold;
            background-color: red;
            padding: 5px;
        }

        .card-body {
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        }

        &:hover {
            .card-body {
                margin-top: 30px;
                transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
            }

            cursor: pointer;
            transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        }

        .card-img-overlay {
            transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
            background-repeat: no-repeat;
            background-size: cover;
            /* background: rgb(255, 186, 33);
            background: linear-gradient(0deg,
                    rgba(255, 186, 33, 0.3785889355742297) 0%,
                    rgba(255, 186, 33, 1) 100%); */
                     background-image: linear-gradient(35deg, #ffffff 45%, #000 90%);
                    
                     
        }
    }
</style>
<section class="">
    <div class="">
        <div class="row mt-3">
            <div class="col-sm-12 col-md-3 col-lg-3 mb-4">

                <div class="card text-dark card-has-bg click-col"
                    style="background-image:url('https://api.unsplash.com/search/collections?page=1&query=office');">
                    <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
                        alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
                    <div class="card-img-overlay d-flex flex-column"  style="background-image: url('/media/products/bedframe.jpg');">
                        <div class="card-body">
                            <small class="card-meta mb-2">Thought Leadership</small>
                            <h1 class="card-title mt-3 "><a class="" herf="https://creativemanner.com">TABLE</a></h1>
                            <small><i class="far fa-clock"></i> October 15, 2020</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                <div class="card text-dark card-has-bg click-col"
                    style="background-image:url('https://source.unsplash.com/600x900/?tree,nature');">
                    <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tree,nature"
                        alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
                    <div class="card-img-overlay d-flex flex-column" style="background-image: url('/media/products/banner-door-nobg.png');">
                        <div class="card-body">
                            <small class="card-meta mb-2">Thought Leadership</small>
                            <h1 class="card-title mt-3 "><a class="" herf="https://creativemanner.com">DOOR</a></h1>
                            <small><i class="far fa-clock"></i> October 15, 2020</small>
                        </div>
                        <div class="card-footer" style="display: none;">
                            <div class="media">
                                <img class="mr-3 rounded-circle"
                                    src="https://assets.codepen.io/460692/internal/avatars/users/default.png?format=auto&version=1688931977&width=80&height=80"
                                    alt="Generic placeholder image" style="max-width:50px">
                                <div class="media-body">
                                    <h6 class="my-0 text-dark d-block">Oz Coruhlu</h6>
                                    <small>Director of UI/UX</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                <div class="card text-dark card-has-bg click-col"
                    style="background-image:url('https://source.unsplash.com/600x900/?computer,design');">
                    <img class="card-img d-none" src="https://source.unsplash.com/600x900/?computer,design"
                        alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
                    <div class="card-img-overlay d-flex flex-column"  style="background-image: url('/media/products/banner-door-nobg.png');"  style="background-image: url('/media/products/banner-door-nobg.png');">
                        <div class="card-body">
                            <small class="card-meta mb-2">Thought Leadership</small>
                            <h1 class="card-title mt-3 "><a class="" herf="https://creativemanner.com">BED FRAME</a></h1>
                            <small><i class="far fa-clock"></i> October 15, 2020</small>
                        </div>
                        <div class="card-footer" style="display: none;">
                            <div class="media">
                                <img class="mr-3 rounded-circle"
                                    src="https://assets.codepen.io/460692/internal/avatars/users/default.png?format=auto&version=1688931977&width=80&height=80"
                                    alt="Generic placeholder image" style="max-width:50px">
                                <div class="media-body">
                                    <h6 class="my-0 text-dark d-block">Oz Coruhlu</h6>
                                    <small>Director of UI/UX</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                <div class="card text-dark card-has-bg click-col"
                    style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
                    <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
                        alt=" Lorem Ipsum Sit Amet Consectetur dipisi?">
                    <div class="card-img-overlay d-flex flex-column"  style="background-image: url('/media/products/banner-door-nobg.png');"  style="background-image: url('/media/products/banner-door-nobg.png');">
                        <div class="card-body">
                            <small class="card-meta mb-2">Thought Leadership</small>
                            <h1 class="card-title mt-3 "><a class="" herf="https://creativemanner.com">CABINET</a></h1>
                            <small><i class="far fa-clock"></i> October 15, 2020</small>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>